<ion-view title="Comics" >




    <ion-content class="padding">

	<div class="comic-search">
	    <input type="text" placeholder="Titulo" ng-model="title">
	    <input type="text" placeholder="Año" ng-model="year">
	    <button class="button ion-android-search input-button button-small" ng-click="comicSearch(title,year)" ng-href="#/comics?title={{title}}&startYear={{year}}" >
	
	</div>
	<div class="comics">
		<h2 ng-if="comics.comics.data.total==0"> No se encontraron comics </h2>
		<div class="list">
		    <a ng-href="#/comics/{{ comic.id }}" class="item" ng-repeat="comic in comics.comics.data.results">
			<div class="comic-thumbnail" style="float: left; width: 10%;">
				<ion-thumbnail>
					<img src="{{ comic.thumbnail.path }}/portrait_small.{{ comic.thumbnail.extension }}">
				</ion-thumbnail>
			</div>

			<div class="comic-info" style="float: left;">
				<p>   Titulo: {{ comic.title }} </p>
				<p>   Formato: {{ comic.format }} </p>
			</div>


		    </a>
		</div>
        </div>
    </ion-content>
</ion-view>
