/* Empty. Add your own CSS if you like */

div.comic-search input{
  margin: 2px;
}
div.comic-search button{
  margin: 2px;
}
div.comics{
  display: inline-block;
  width: 100%
}

div.comic-characters{
  display: inline-block;
  width: 100%
}
div.comic-description{
  display: inline-block;
  width: 100%
}

div.comic-creator{
  padding-left:3em
}
ion-content{
    background-image: url("img/background3.png");
    background-size: 100%;
  
}
.item{
  background-color: rgba(200,200,200,0.5);
  border-color: rgb(200,200,200);
  color: black;
  margin-left: 5px;
  margin-right:  5px;
}
  
}
.item.activated, .item-complex.active .item-content, .item-complex.activated .item-content{
  background-color: rgba(175,175,175,0.5);
  border-color: rgb(200,200,200);
  color: black;
  margin-left: 5px;
  margin-right:  5px;
}
.item p{
  color: black;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


div.comic-info{
  margin: 5px;
}
div.comic-thumbnail{
  margin: 5px
}
div.comic-content{
  overflow: auto;
  background-color: rgba(200,200,200,0.5);
  border-radius: 5px;
  border-color: rgb(200,200,200);
}

div.comic-search {
    display: block;
    margin-left: auto;
    margin-right: auto;}
div.comic-search input{
    float: left; 
    margin-left: 5%;
    width: 90%;
    background-color: rgba(225,225,225,0.75);
    border-radius: 4px;
    color: black;
    
    
}
div.comic-search button{
    float: left;
    background-color: rgba(225,225,225,0.75);
}

div.comic-search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(150,150,150);
}
div.comic-search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(150,150,150);
   opacity:  1;
}
div.comic-search ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(150,150,150);
   opacity:  1;
}
div.comic-search :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(150,150,150);
}
div.comic-description{
  background-color: rgba(200,200,200,.5);
  border-radius: 5px;
  color: black;
  margin-top:5px;
}





